@model LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="login-box">
    <div class="login-logo">
        <a asp-action="index" asp-controller="home"><i class="fa fa-home"></i>&nbsp;home</a>
        @*<h3>@Model.ReturnUrl</h3>*@
    </div>

    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form asp-action="Login" asp-controller="Account" method="post" asp-antiforgery="true">
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group has-feedback">
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <div><span asp-validation-for="Email" class="text-danger"></span></div>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div><span asp-validation-for="Password" class="text-danger"></span></div>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="RememberMe"> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->

                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>

        </form>


        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
        </div>
        <!-- /.social-auth-links -->
        <a href="#">I forgot my password</a><br>
        <a asp-action="Register" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Register a new membership</a>

        @*<a href="register.html" class="text-center">Register a new membership</a>*@
    </div>
    <!-- /.login-box-body -->
</div>

    <!-- /.login-box -->

    @*<!-- jQuery 3 -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="../../plugins/iCheck/icheck.min.js"></script>*@

 


