<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Events
            <small>manage news and events</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="Dashboard"><i class="fa fa-dashboard"></i> Admin</a></li>
            <li><a href="#">Media</a></li>
            <li class="active"><a href="Events">Events</a></li>
        </ol>
    </section>


    <section class="content">
        <div>events</div>
    </section>
</div>
