<section class="kopa__area kopa__area--16 kopa__area--noSpace">
    <div class="widget kopa__contactForm style--01">
        <div class="kopa__mapWrap">
            <div id="kopa__map" data-place="Ha Noi" data-latitude="6.4431" data-longitude="3.4010" class="kopa__map"></div>
        </div>

        <!--kopa contact form thumb-->
        <div class="widget-content">
            <form action="/" method="post">
                <div class="form-group">
                    <label for="kopa__contactForm__name">name :</label>
                    <input type="text" placeholder="chi chi" required="" id="kopa__contactForm__name">
                </div>
                <!-- form group-->
                <div class="form-group">
                    <label for="kopa__contactForm__mail">e-mail :</label>
                    <input type="email" placeholder="mail@campusclassicals.org" required="" id="kopa__contactForm__mail">
                </div>
                <!-- form group-->
                <div class="form-group">
                    <label for="kopa__contactForm__comment">comment :</label>
                    <textarea id="kopa__contactForm__comment" placeholder="Type Your Comment..." required=""></textarea>
                </div>
                <!-- form group-->
                <div class="form-group">
                    <input type="submit" value="send">
                </div>
                <!-- form group-->
            </form>
        </div>
        <!-- widget content-->
    </div>
    <!-- kopa contact form-->
</section>
<!-- kopa area-->
