<section class="kopa__area kopa__area--09 kopa__parallax">
    <div class="container">
        <div class="widget kopa__gallery style--01">
            <div class="widget-title style--02">
                <h3 class="widget-title-primary" style="color:#000">our<strong>Gallery</strong></h3>
            </div>
            <!-- widget title-->
            <div class="widget-content">
                <div class="kopa__gallery__content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="entry-item kopa__video">
                                <div class="entry-thumb">
                                    @*<a href="#"><img src="http://placehold.it/370x415" alt=""></a>*@

                                    <a href="#"><img src="~/images/gallery/1.jpg" alt=""></a>
                                    <div class="kopa__icon"><i class="fi flaticon-play"></i>play</div>
                                    <!-- kopa icon-->
                                </div>
                                <!-- entry thumb-->
                            </article>
                            <!-- entry item-->
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="entry-item kopa__image">
                                <div class="entry-thumb">
                                    @*<a href="#"><img src="http://placehold.it/370x415" alt=""></a>*@

                                    <a href="#"><img src="~/images/gallery/2.jpg" alt=""></a>
                                    <div class="kopa__icon"></div>
                                    <!-- kopa icon-->
                                </div>
                                <!-- entry thumb-->
                            </article>
                            <!-- entry item-->
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="entry-item kopa__video">
                                <div class="entry-thumb">
                                    @*<a href="#"><img src="http://placehold.it/370x415" alt=""></a>*@

                                    <a href="#"><img src="~/images/gallery/3.jpg" alt=""></a>
                                    <div class="kopa__icon"><i class="fi flaticon-play"></i>play</div>
                                    <!-- kopa icon-->
                                </div>
                                <!-- entry thumb-->
                            </article>
                            <!-- entry item-->
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="entry-item kopa__image">
                                <div class="entry-thumb">
                                    @*<a href="#"><img src="http://placehold.it/370x415" alt=""></a>*@

                                    <a href="#"><img src="~/images/gallery/4.jpg" alt=""></a>
                                    <div class="kopa__icon"></div>
                                    <!-- kopa icon-->
                                </div>
                                <!-- entry thumb-->
                            </article>
                            <!-- entry item-->
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="entry-item kopa__image">
                                <div class="entry-thumb">
                                    @*<a href="#"><img src="http://placehold.it/370x415" alt=""></a>*@

                                    <a href="#"><img src="~/images/gallery/5.jpg" alt=""></a>
                                    <div class="kopa__icon"></div>
                                    <!-- kopa icon-->
                                </div>
                                <!-- entry thumb-->
                            </article>
                            <!-- entry item-->
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="entry-item kopa__image">
                                <div class="entry-thumb">
                                    @*<a href="#"><img src="http://placehold.it/370x415" alt=""></a>*@

                                    <a href="#"><img src="~/images/gallery/6.jpg" alt=""></a>
                                    <div class="kopa__icon"></div>
                                    <!-- kopa icon-->
                                </div>
                                <!-- entry thumb-->
                            </article>
                            <!-- entry item-->
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="entry-item kopa__image">
                                <div class="entry-thumb">
                                    @*<a href="#"><img src="http://placehold.it/370x415" alt=""></a>*@

                                    <a href="#"><img src="~/images/gallery/7.jpg" alt=""></a>
                                    <div class="kopa__icon"></div>
                                    <!-- kopa icon-->
                                </div>
                                <!-- entry thumb-->
                            </article>
                            <!-- entry item-->
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="entry-item kopa__video">
                                <div class="entry-thumb">
                                    @*<a href="#"><img src="http://placehold.it/370x415" alt=""></a>*@

                                    <a href="#"><img src="~/images/gallery/8.jpg" alt=""></a>
                                    <div class="kopa__icon"><i class="fi flaticon-play"></i>play</div>
                                    @*<div class="kopa__icon"></div>*@
                                    <!-- kopa icon-->
                                </div>
                                <!-- entry thumb-->
                            </article>
                            <!-- entry item-->
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="entry-item kopa__image">
                                <div class="entry-thumb">
                                    @*<a href="#"><img src="http://placehold.it/370x415" alt=""></a>*@

                                    <a href="#"><img src="~/images/gallery/9.jpg" alt=""></a>
                                    <div class="kopa__icon"></div>
                                    @*<div class="kopa__icon"><i class="fi flaticon-play"></i>play</div>*@
                                    <!-- kopa icon-->
                                </div>
                                <!-- entry thumb-->
                            </article>
                            <!-- entry item-->
                        </div>
                        <!-- col-->
                    </div>
                    <!-- row-->
                    <div class="btn btn-md border--thick btn__color02">View More</div>
                </div>
                <!-- kopa gallery content-->
            </div>
            <!-- widget content-->
        </div>
        <!-- kopa gallery-->
    </div>
    <!-- container-->
</section>
<!-- kopa area-->