<section class="kopa__area kopa__area--05 kopa__parallax">
    <div class="container">
        <div class="widget kopa__latestNews style--01">
            <div class="widget-title style--02">
                <h3 class="widget-title-primary ">latest<strong>news</strong></h3>
            </div>
            <!-- widget title-->
            <div class="widget-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <article class="entry-item">
                            @*<div class="entry-thumb"><a href="#"><img src="http://placehold.it/370x291" alt=""></a></div>*@

                            <div class="entry-thumb"><a href="#"><img src="~/images/news/ln-1.jpg" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <div class="entry-date style--01">
                                    <strong class="entry-days">16</strong>
                                    <p class="entry-month">jul</p>
                                </div>
                                <!-- entry date-->
                                <h4 class="entry-title"><a href="#">Season 1</a></h4>
                                <p class="text--01">
                                    Student of Nnamdi Azikiwe University dazzle the audience at the season
                                    one contest. It was a perfect rendition of 2face Idibia's African Queen.
                                </p>
                            </div>
                            <!-- entry content-->
                        </article>
                        <!-- entry item-->
                    </div>
                    <!-- col-->
                    <div class="col-xs-12 col-sm-4">
                        <article class="entry-item">
                            @*<div class="entry-thumb"><a href="#"><img src="http://placehold.it/370x291" alt=""></a></div>*@

                            <div class="entry-thumb"><a href="#"><img src="~/images/news/ln-2.jpg" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <div class="entry-date style--01">
                                    <strong class="entry-days">16</strong>
                                    <p class="entry-month">jul</p>
                                </div>
                                <!-- entry date-->
                                <h4 class="entry-title"><a href="#">Season 1</a></h4>
                                <p class="text--01">
                                    UNN in a mix of classical and contemporary musical instruments, put up a
                                    scintillating and electrifying Stage Band performance at the season one
                                    contest.
                                </p>
                            </div>
                            <!-- entry content-->
                        </article>
                        <!-- entry item-->
                    </div>
                    <!-- col-->
                    <div class="col-xs-12 col-sm-4">
                        <article class="entry-item">
                            @*<div class="entry-thumb"><a href="#"><img src="http://placehold.it/370x291" alt=""></a></div>*@

                            <div class="entry-thumb"><a href="#"><img src="~/images/news/ln-3.jpg" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <div class="entry-date style--01">
                                    <strong class="entry-days">16</strong>
                                    <p class="entry-month">jul</p>
                                </div>
                                <!-- entry date-->
                                <h4 class="entry-title"><a href="#">Season 1</a></h4>
                                <p class="text--01">
                                    Well choreographed dance step by students of the University of Benin as
                                    a part of their display in their presentation of Omawumi's In the Music.
                                </p>
                            </div>
                            <!-- entry content-->
                        </article>
                        <!-- entry item-->
                    </div>
                    <!-- col-->
                </div>
                <!-- row-->
            </div>
            <!-- widget content-->
        </div>
        <!-- kopa latest news-->
    </div>
    <!-- container-->
</section>
<!-- kopa area-->
