<section class="kopa__area kopa__area--noSpace">
    <div class="kopa__mainSlider style--01 owl-wrapper">
        <div data-desk-top="1" data-tablet="1" data-small-tablet="1" data-phone="1" data-center="false" data-auto-play="true" data-animate="fadeOut" data-nav="false" data-loop="true" class="owl-carousel "  >

            <div class="item style--01">
                @*<div class="layer-01"><img src="http://placehold.it/1045x899" alt=""></div>*@
                <div class="layer-01"><img src="~/images/piano-tr-4.png" alt=""></div>
                <!-- layer-->
                @*<div class="layer-02"><img src="http://placehold.it/541x336" alt=""></div>*@
                @*<div class="layer-02"><img src="~/Content/images/logo-sl.jpg" alt=""></div>*@
                <!-- layeriner-->
                @*<div class="layer-03"><img src="http://placehold.it/358x913" alt=""></div>*@
                <div class="layer-03"><img src="~/images/03.png" alt=""></div>
                <!-- layer-->
                @*<div class="kopa__imgBg"><img src="http://placehold.it/1920x964" alt=""></div>*@
                <div class="kopa__imgBg"><img src="~/images/mic-9.png" alt=""></div>
                <!-- kopa imgBg-->
            </div>
            <!-- item-->

            <div class="item style--02">
                @*<div class="layer-01"><img src="http://placehold.it/358x913" alt=""></div>*@
                <div class="layer-01"><img src="~/images/03.png" alt=""></div>
                <!-- layer-->
                @*<div class="layer-02"><img src="http://placehold.it/541x336" alt=""></div>*@
                <div class="layer-02"><img src="~/images/drum-tr-7.png" alt=""></div>
                <!-- layeriner-->
                @*<div class="layer-03"><img src="http://placehold.it/929x939" alt=""></div>*@
                <div class="layer-03"><img src="~/images/drum-tr-6.png" alt=""></div>
                <!-- layer-->
                @*<div class="kopa__imgBg"><img src="http://placehold.it/1920x964" alt=""></div>*@
                <div class="kopa__imgBg"><img src="~/images/piano-bg.jpg" alt="" style="opacity:0.2" ></div>
                <!-- kopa imgBg-->
            </div>
            <!-- item-->

            <div class="item style--03">
                @*<div class="layer-01"><img src="http://placehold.it/358x913" alt=""></div>*@
                <div class="layer-01"><img src="~/images/03.png" alt=""></div>
                <!-- layer-->
                @*<div class="layer-02"><img src="http://placehold.it/541x336" alt=""></div>*@
                <!-- layeriner-->
                @*<div class="layer-03"><img src="http://placehold.it/1334x965" alt=""></div>*@
                @*<div class="layer-03"><img src="~/Content/images/06.png" alt=""></div>*@
                <div class="layer-03"><img src="~/images/band-set-1.png" alt=""></div>
                <!-- layer-->
                @*<div class="kopa__imgBg"><img src="http://placehold.it/1920x964" alt=""></div>*@
                <div class="kopa__imgBg" ><img src="~/images/headset-bg.jpg" alt=""></div>
                <!-- kopa imgBg-->
            </div>
            <!-- item-->

            <div class="item style--04">
                @*<div class="layer-01"><img src="http://placehold.it/264x384" alt=""></div>*@
                <!-- layer-->

                @*<div class="kopa__mainSlider__text">
                        <h4>play<span>something</span><br>creative</h4><a href="#" class="btn btn-md border--thick btn__color01">play now</a>
                    </div>*@
                <!-- kopa main slider text-->

                @*<div class="kopa__imgBg"><img src="http://placehold.it/1920x964" alt=""></div>*@
                <div class="kopa__imgBg"><img src="~/images/dance-bg.jpg" alt=""></div>
                <!-- kopa imgBg-->
            </div>
            <!-- item-->

        </div>
        <!-- owl-carousel-->

        <div class="kopa__mainSlider__loading"><i class="fa fa-refresh fa-spin"></i></div>
        <!-- kopa main slider loading-->
    </div>
    <!-- kopa__mainSlider-->


</section>
<!-- kopa area-->