<section class="kopa__area kopa__area--12 kopa__area--noSpace">
    <div class="widget kopa__student style--01">
        <div class="kopa__owlSync style--01">
            <div data-nav="false" data-margin="0" class="owl-carousel sync1">

                <div class="item">
                    <article class="entry-item">
                        <div class="col-xs-12 col-sm-6">
                            <div class="entry-thumb">
                                <a href="#"><img src="http://placehold.it/1043x758" alt=""></a>
                                <div class="kopa__icon"><i class="fi flaticon-play"></i>play</div>
                                <!-- kopa icon-->
                            </div>
                            <!-- entry thumb-->
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-6">
                            <div class="entry-content text--white">
                                <h3 class="entry-title"><a href="#">Student Performance</a></h3>
                                <p class="text--01">Some selected performances of student can be shown here ...</p>
                                @*<p class="text--01">Ut vulputate dignissim tortor, eget porta elit. Sed molestie eu vitae consectetur. Donec ultrices dui a dolor gravida viverra. Fusce mau eros, mattis ut diam vel, commodo auctor urna.</p>*@
                                <div class="kopa__social style--01">
                                    <h4>Share This Video :</h4>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                                <!-- kopa social-->
                            </div>
                            <!-- entry content-->
                        </div>
                        <!-- col-->
                    </article>
                    <!-- entry item-->
                </div>


                <!-- item-->
                <div class="item">
                    <article class="entry-item">
                        <div class="col-xs-12 col-sm-6">
                            <div class="entry-thumb">
                                <a href="#"><img src="http://placehold.it/1043x758" alt=""></a>
                                <div class="kopa__icon"><i class="fi flaticon-play"></i>play</div>
                                <!-- kopa icon-->
                            </div>
                            <!-- entry thumb-->
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-6">
                            <div class="entry-content text--white">
                                <h3 class="entry-title"><a href="#">Student Performance</a></h3>
                                <p class="text--01">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit nulla tempus mollis molestie. Fusce semper nisi sit amet ante  oie neque hendrerit. Mauris vehicula quam .</p>
                                <p class="text--01">Ut vulputate dignissim tortor, eget porta elit. Sed molestie eu vitae consectetur. Donec ultrices dui a dolor gravida viverra. Fusce mau eros, mattis ut diam vel, commodo auctor urna.</p>
                                <div class="kopa__social style--01">
                                    <h4>Share This Video :</h4>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                                <!-- kopa social-->
                            </div>
                            <!-- entry content-->
                        </div>
                        <!-- col-->
                    </article>
                    <!-- entry item-->
                </div>
                <!-- item-->

                <div class="item">
                    <article class="entry-item">
                        <div class="col-xs-12 col-sm-6">
                            <div class="entry-thumb">
                                <a href="#"><img src="http://placehold.it/1043x758" alt=""></a>
                                <div class="kopa__icon"><i class="fi flaticon-play"></i>play</div>
                                <!-- kopa icon-->
                            </div>
                            <!-- entry thumb-->
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-6">
                            <div class="entry-content text--white">
                                <h3 class="entry-title"><a href="#">Student Performance</a></h3>
                                <p class="text--01">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit nulla tempus mollis molestie. Fusce semper nisi sit amet ante  oie neque hendrerit. Mauris vehicula quam .</p>
                                <p class="text--01">Ut vulputate dignissim tortor, eget porta elit. Sed molestie eu vitae consectetur. Donec ultrices dui a dolor gravida viverra. Fusce mau eros, mattis ut diam vel, commodo auctor urna.</p>
                                <div class="kopa__social style--01">
                                    <h4>Share This Video :</h4>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                                <!-- kopa social-->
                            </div>
                            <!-- entry content-->
                        </div>
                        <!-- col-->
                    </article>
                    <!-- entry item-->
                </div>
                <!-- item-->

            </div>
            <!-- owl carousel-->


            <div data-nav="false" data-margin="12" class="owl-carousel sync2">
                <div class="item"><img src="http://placehold.it/159x75" alt=""></div>
                <!-- item-->
                <div class="item"><img src="http://placehold.it/159x75" alt=""></div>
                <!-- item-->
                <div class="item"><img src="http://placehold.it/159x75" alt=""></div>
                <!-- item-->
            </div>
            <!-- owl carousel-->


        </div>
        <!-- kopa owl sync-->
    </div>
    <!-- kopa student-->
</section>
<!-- kopa area-->
