
<section class="kopa__area kopa__area--10 kopa__parallax" style="background:#fff">
    <div class="container">
        @*<div class="widget kopa__recentBlog style--01" >*@
        <div class="widget kopa__event style--01">
            <div class="widget-title style--02">
                <h3 class="widget-title-primary">participating<strong>Schools</strong></h3>
            </div>

            <!-- widget title-->
            <div class="widget-content ">
                <div class="kopa__gallery__content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/ABU.png" alt="" /></a>
                            </article>
                        </div>

                        @*<div class="col-xs-6 col-sm-4 col-md-2">
                            <div class="art-picture-block">
                                <article class="art">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="#">
                                            <img src="~/images/schools/ABU.png" alt="" />
                                        </a>
                                    </div>
                                </article>
                            </div>
                        </div>*@
                        <!-- col-->

                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/ALVAN-IKOKU.png" alt=""></a>
                            </article>
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/BABCOCK.jpg" alt=""></a>
                            </article>
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/BOWEN.png" alt=""></a>
                            </article>
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/DELSU.jpg" alt=""></a>
                            </article>
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/Federal-College-Of-Education-Oyo.jpg" alt=""></a>
                            </article>
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/FUNAI.png" alt=""></a>
                            </article>
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/IBADAN-POLY.jpg" alt=""></a>
                            </article>
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/MUSON.jpg" alt=""></a>
                            </article>
                        </div>
                        <!-- col-->

                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image schools">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/OAU.jpg" alt="" /></a>
                            </article>
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/ODUMEGWU-OJUKWU-ANAMBRA.jpg" alt=""></a>
                            </article>
                        </div>
                        <!-- col-->
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            @*<article class="entry-item kopa__image">*@
                            <article class="art">
                                <a href="#"><img src="~/images/schools/pan-african-university1.jpg" alt=""></a>
                            </article>
                        </div>
                        <!-- col-->

                    </div>
                    <!-- row-->

                    @*<div class="btn btn-md border--thick btn__color04">View More</div>*@
                    <a class="btn btn-md border--thick btn__color04" asp-action="All" asp-controller="School" asp-area="">View More</a>


                </div>
                <!-- kopa gallery content-->


            </div>
            <!-- widget content-->


        </div>
        <!-- kopa gallery-->
    </div>
    <!-- container-->
</section>
<!-- kopa area-->