 <!-- kopa area-->
<section class="kopa__area kopa__area--02" >
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-offset-1">
                <div class="widget kopa__about style--01">
                    <div class="widget-title style--01">
                        <h3 class="widget-title-primary"><span>Welcome</span> to campus classicals</h3>
                        @*<h4 class="widget-title-secondary">Brace up for the biggest all Nigeria universities Classical Music Contest "Campus Classicals".</h4>*@
                        @*<p class="widget-title-secondary ">Brace up for the biggest all Nigeria tertiary institution Classical Music Contest "Campus Classicals", which  features an audience of over 70 million viewers with over 20 million participants.
                            102 universities will compete for a whooping sum of N5 million Naira. @Html.ActionLink("... Read more", "About", "Home", new { area = "" }, null)</p>
                                                        <h4 class="widget-title-secondary">All Nigeria tertiary institution music competion which provides opportunity for students interface, talent discovery, competition, media event, classic and electrifying performances, and so much more @Html.ActionLink("... Read more", "About", "Home", new { area = "" }, null)</h4>*@


                        @*<video controls="controls" width="300" src="https://www.youtube.com/watch?v=xNhuA4aR2XQ"></video>*@
                        @*<iframe width="420" height="315"
                                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                            </iframe>*@

                        @*@Html.ActionLink("... Read more", "About", "Home", new { area = "" }, null)*@

                        <p kopa__dropCaps style--02>
                            @* <p style="color:#000; font-size:17px;">*@
                            Campus Classicals brings you the most exciting musical experience and engagement you have never witnessed before. The largest opportunity to be celebrated as a musical icon lies here in Campus Classicals. Participants and audience alike gets rewards for their roles. Keep a date that will ever remain ecstatic with us. <a asp-area="" asp-controller="home" asp-action="about"><i class="fa fa-next"></i>... Read more</a>
                        </p>






                    </div>
                    <!-- widget title-->
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <article class="entry-item video">
                                    <div class="entry-thumb"><a href="#"><img src="~/images/welcome-1.jpg" alt=""></a></div>


                                    @*<div class="entry-thumb"><a href="#"><img src="http://placehold.it/163x154" alt=""></a><i class="fi flaticon-play"></i></div>*@
                                    <!-- entry thumb-->
                                </article>
                                <!-- entry item-->
                            </div>
                            <!-- col-->
                            <div class="col-xs-3">
                                <article class="entry-item">

                                    <div class="entry-thumb"><a href="#"><img src="~/images/welcome_3.jpg" alt=""></a></div>


                                    @*<div class="entry-thumb"><a href="#"><img src="http://placehold.it/163x154" alt=""></a></div>*@
                                    <!-- entry thumb-->
                                </article>
                                <!-- entry item-->
                            </div>
                            <!-- col-->
                            <div class="col-xs-3">
                                <article class="entry-item video">
                                    <div class="entry-thumb"><a href="#"><img src="~/images/welcome_2.jpg" alt=""></a></div>

                                    @*<div class="entry-thumb"><a href="#"><img src="http://placehold.it/163x154" alt=""></a><i class="fi flaticon-play"></i></div>*@
                                    <!-- entry thumb-->
                                </article>
                                <!-- entry item-->
                            </div>
                            <!-- col-->
                            <div class="col-xs-3">
                                <article class="entry-item">
                                    <div class="entry-thumb"><a href="#"><img src="~/images/welcome_4.jpg" alt=""></a></div>

                                    @*<div class="entry-thumb"><a href="#"><img src="http://placehold.it/163x154" alt=""></a></div>*@
                                    <!-- entry thumb-->
                                </article>
                                <!-- entry item-->
                            </div>
                            <!-- col-->
                        </div>
                    </div>
                    <!-- widget content-->
                </div>
                <!-- kopa about-->
            </div>
            <!-- col-->
        </div>
        <!-- row-->
    </div>
    <!-- container-->
</section>
