@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<section class="kopa__mainContent">
    <section class="kopa__area kopa__parallax kopa__area--17">
        <div class="kopa__topPage style--01">
            <div class="kopa__breadCrumb style--01">
                <h3 class="kopa__breadCrumb--title">about</h3><span><a href="#">Home</a></span><span>about</span>
            </div>
            <!-- kopa bread crumb-->
            @*<div class="kopa__topPage--bottom kopa__parallax">
                    <div class="col-xs-12 col-md-5">
                        <h3 class="kopa__topPage--bottom__title">
                            about<span>our band</span>
                        </h3>
                    </div>
                    <!-- col-->
                </div>*@
            <!-- kopa top page bottom-->
        </div>
        <!-- kopa top page-->
    </section>
    <!-- kopa area-->
    <!-- kopa area-->
    @*<section class="kopa__area kopa__area--02">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-lg-offset-1">
                        <div class="widget kopa__about style--01">
                            <div class="widget-title style--01">
                                <h3 class="widget-title-primary">Campus Classicals</h3>

                                <p class="widget-title-secondary ">
                                    ampus Classicals is an All Nigeria Tertiary Institutions Music competition. It also provide apportunity forstudents interface, talent discovery, competition, etc. It is a media event with classic and electrifying performances and much more.
                                </p>
                                <p class="widget-title-secondary ">
                                    Campus classicals is the first festival of its kind wherein students of all Nigerian tertiary institutions come under one single event to showcase musical talents-theory and practice in a competitive nature. Campus Classicals is opened to all Universities Polytechnics, Colleges of Education and special music institutions in Nigeria both public and private. The event has a buildup activities leading to the grand-finale. The buildup activity include zonal preliminaries to be held at different locations across Nigeria while the grand-finale holds in Lagos. Winners from each zone will qualify for the finals. This is conducted with a high sense of professionalism.
                                </p>
                            </div>

                        </div>
                        <!-- kopa about-->
                    </div>
                    <!-- col-->
                </div>
                <!-- row-->
            </div>
            <!-- container-->
        </section>*@




    <!-- kopa area-->
    <section class="kopa__area kopa__area--02">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 ">
                    <div class="widget kopa__about style--01">
                        <div class="widget-title style--01">
                            <h3 class="widget-title-primary"><span>Campus classicals</span></h3>
                            <p style="color:#000; font-size:17px;">
                                Campus Classicals brings you the most exciting musical experience and engagement you have never witnessed before. The largest opportunity to be celebrated as a musical icon lies here in Campus Classicals. Participants and audience alike gets rewards for their roles. Keep a date that will ever remain ecstatic with us.
                            </p>


                        </div>
                        <!-- widget title-->

                    </div>
                    <!-- kopa about-->
                </div>
                <!-- col-->
            </div>
            <!-- row-->
        </div>
        <!-- container-->
    </section>






    @*<section class="kopa__area kopa__area--22 kopa__area--noSpace">*@

    <section class="kopa__area kopa__area--22 kopa__parallax" style="background:#fff">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-md-12 ">
                    <div class="widget kopa__about style--01">
                        <div class="widget-title style--01">
                            <h3 class="widget-title-primary">Event Details</h3>

                            <div class="kopa__tab style--01">
                                <ul role="tablist" class="nav nav-tabs responsive">
                                    <li role="presentation" class="active"><a href="#kopa__tab--01" aria-controls="kopa__tab--01" role="tab" data-toggle="tab">Scope</a></li>
                                    <li role="presentation"><a href="#kopa__tab--02" aria-controls="kopa__tab--02" role="tab" data-toggle="tab">Competition category</a></li>
                                    <li role="presentation"><a href="#kopa__tab--03" aria-controls="kopa__tab--03" role="tab" data-toggle="tab">Participation Procedure</a></li>
                                    <li role="presentation"><a href="#kopa__tab--04" aria-controls="kopa__tab--04" role="tab" data-toggle="tab">Aims And Objectives</a></li>
                                    <li role="presentation"><a href="#kopa__tab--05" aria-controls="kopa__tab--05" role="tab" data-toggle="tab">Our Team</a></li>
                                    <li role="presentation"><a href="#kopa__tab--06" aria-controls="kopa__tab--06" role="tab" data-toggle="tab">Consultants</a></li>
                                </ul>
                                <!-- nav tabs-->

                                <div class="tab-content responsive">
                                    <div id="kopa__tab--01" role="tabpanel" class="tab-pane fade in active">

                                        <h4 class="text--01"><strong>Classicals features an audience of:</strong> </h4>

                                        <ul class="style--01">
                                            <li><i class="fa fa-check"></i>Over 10 million followers </li>
                                            <li><i class="fa fa-check"></i>With over 700 participants.</li>
                                            <li><i class="fa fa-check"></i>Over 20 tertiary institutions will compete for a whooping sum of N10 million and above.</li>
                                            <li><i class="fa fa-check"></i>4 Cities; Zonal preliminaries will hold in <b>Ibadan</b>, <b>Awka</b>, and <b>Abuja</b>. The winners from each zone will qualify for the finals in Lagos.</li>
                                            <li><i class="fa fa-check"></i>1 event</li>
                                        </ul>


                                    </div>
                                    <!-- tab pane-->

                                    <div id="kopa__tab--02" role="tabpanel" class="tab-pane fade in">
                                        <ul class="style--01">
                                            <li><i class="fa fa-check"></i>Instrumental Music</li>
                                            <li><i class="fa fa-check"></i>Operatic Music</li>
                                            <li><i class="fa fa-check"></i>Choral Music</li>
                                            <li><i class="fa fa-check"></i>Stage Band/Pop Nigerian music</li>
                                        </ul>

                                    </div>
                                    <!-- tab pane-->

                                    <div id="kopa__tab--03" role="tabpanel" class="tab-pane fade in">
                                        <ul class="style--01">
                                            <li><i class="fa fa-check"></i>By invitation for now</li>
                                            <li><i class="fa fa-check"></i>A team of 35 students from each institution</li>
                                            <li><i class="fa fa-check"></i>Two accompanying lecturers that are not performers</li>
                                            <li><i class="fa fa-check"></i>Schools to appear in their costumes/uniform</li>
                                            <li><i class="fa fa-check"></i>Individual Instruments such as Violin, Flute, Trumpet, Saxophone, Trombone, Clarinet, etc to be provided by each participating school.</li>
                                            <li><i class="fa fa-check"></i>Schools are responsible for their transportation to event venue.</li>

                                        </ul>
                                    </div>
                                    <!-- tab pane-->

                                    <div id="kopa__tab--04" role="tabpanel" class="tab-pane fade in">
                                        <ul class="style--01">
                                            <li><i class="fa fa-check"></i>To encourage the growth of music- theory and practice through regular practical exercise in the nature of music festivals</li>
                                            <li><i class="fa fa-check"></i>To impress in students the sense of meaning, worth and dignity of the discipline of music in all its forms</li>
                                            <li><i class="fa fa-check"></i>To create a platform for participants to develop and gain fame in the industry</li>
                                            <li><i class="fa fa-check"></i>To foster the growth of a more reflective generation of youth through the culture of classical music in practice and theory</li>
                                            <li><i class="fa fa-check"></i>To help in nurturing the growth and appreciation of intellectual culture and academic excellence as quintessential elements in nation building and development</li>
                                            <li><i class="fa fa-check"></i>To encourage music tourists to Nigeria</li>
                                            <li><i class="fa fa-check"></i>Enhance the image of participating Universities</li>
                                            <li><i class="fa fa-check"></i>Opportunity for participants to interface and peer review</li>
                                        </ul>
                                    </div>
                                    <!-- tab pane-->

                                    <div id="kopa__tab--05" role="tabpanel" class="tab-pane fade in">
                                        <ul class="style--01">
                                            <li><i class="fa fa-check"></i><strong>Content Owner</strong> – Classical Showcase Ltd</li>
                                            <li><i class="fa fa-check"></i><strong>Marketing</strong> – Zoya Media Ltd</li>
                                            <li><i class="fa fa-check"></i><strong>Media/publicity</strong> – Zoya Media Ltd</li>
                                        </ul>
                                    </div>
                                    <!-- tab pane-->

                                    <div id="kopa__tab--06" role="tabpanel" class="tab-pane fade in">
                                        <ul class="style--01">
                                            <li><i class="fa fa-check"></i><strong>Technical</strong> - Prof. Anthony Mereni, (Music Major) Former Head of Creative, Arts and Music Unit, University of Lagos</li>
                                            @*<li><i class="fa fa-check"></i><strong>Arts and Music Unit</strong>, University of Lagos</li>*@
                                            <li><i class="fa fa-check"></i><strong>Music Producer and mentoring</strong> - Engr. Benedict Ogbeiwi</li>
                                        </ul>
                                    </div>
                                    <!-- tab pane-->



                                </div>
                                <!-- tab content-->
                            </div>
                            <!-- kopa tab-->

                        </div>
                        <!-- widget title-->

                    </div>
                    <!-- kopa about-->






                </div>
                <!-- col-->
            </div>
            <!-- row-->
            @*<article class="entry-item text--white">
                    <div class="col-xs-12 col-md-12 ">

                    </div>
                    <!-- col-->

                </article>
                <!-- entry item-->*@




            <!-- kopa about section-->
        </div>
    </section>
    <!-- kopa area-->
    @*<section class="kopa__area kopa__area--22 kopa__area--noSpace">
            <div class="kopa__aboutSection style--01">
                <article class="entry-item text--white">
                    <div class="col-xs-12 col-md-6 mask--01">
                        <div class="entry-thumb"><img src="http://placehold.it/960x607" alt=""></div>
                        <!-- entry thumb-->
                    </div>
                    <!-- col-->
                    <div class="col-xs-12 col-md-6">
                        <div class="entry-content">
                            <h3 class="entry-title style--01">Terms And Condition</h3>

                            <ul>
                                <li>Every participant must be a student of the participating institution</li>
                                <li>Every participant must be duly cleared with his institution’s Identity Card</li>
                                <li>The organizers reserves the right to use still and motion images emanating from Pre-event, Event and Post event  activities for marketing/promotions, publicity and broadcast</li>
                                <li>By accepting to participate in this event, participants’ have freely given away a right of ownership of the Still and Moving pictures to the organizers</li>
                                <li>Event owner reserves the right to alter the price money at any time before the event</li>
                                <li>Price money may be given at a later date from the date of the final event</li>
                                <li>Event owner is the final decision maker of all aspect of the event provided its not in breech of any subsisting legal agreement</li>
                            </ul>
                        </div>
                        <!-- entry content-->
                    </div>
                    <!-- col-->
                </article>
                <!-- entry item-->
            </div>
            <!-- kopa about section-->
        </section>*@
    <!-- kopa area-->
    @*<section class="kopa__area kopa__area--22 kopa__area--noSpace">
            <div class="kopa__aboutSection style--01">
                <article class="entry-item text--white">

                    <div class="col-xs-12 col-md-6 mask--01">
                        <div class="entry-thumb"><img src="http://placehold.it/960x607" alt=""></div>
                        <!-- entry thumb-->
                    </div>
                    <!-- col-->

                    <div class="col-xs-12 col-md-6">
                        <div class="entry-content">
                            <h3 class="entry-title style--01">Aims And Objectives</h3>
                            <p class="text--01">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit nulla tempus mollis molestie. Fusce semper nisi sit amet ante  oie neque hendrerit. Mauris vehicula quam.</p>
                            <p class="text--01">Ut vulputate dignissim tortor, eget porta elit. Sed molestie eu vitae consectetur. Donec ultrices dui a dolor gravida viverra. Fusce mau eros, mattis ut diam vel, commodo auctor urna.</p>
                        </div>
                        <!-- entry content-->
                    </div>
                    <!-- col-->
                </article>
                <!-- entry item-->
            </div>
            <!-- kopa about section-->
        </section>*@
    <!-- kopa area-->
    @*<section class="kopa__area kopa__area--19 kopa__parallax">
                <div class="container">
                    <div class="widget kopa__band style--01">
                        <div class="widget-title style--02">
                            <h3 class="widget-title-primary">We are<strong>campus classicals</strong></h3>
                        </div>
                        <!-- widget title-->
                        <div class="widget-content">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <article class="entry-item">
                                        <div class="entry-thumb"><img src="http://placehold.it/500x600" alt=""></div>
                                        <!-- entry thumb-->
                                        <div class="entry-content">
                                            <h4 class="entry-title">Sylvester Obriko </h4>
                                            <h6 class="entry-sub-title">MD/CEO</h6>
                                            <p class="text--white">Mauris a massa id leo aliquam consequat por ttitoritae est. Proin ultricies velit sed porttitor ra.Pellentesque eget tristique est.</p>
                                            <div class="kopa__social style--01">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- kopa social-->
                                        </div>
                                        <!-- entry content-->
                                    </article>
                                    <!-- entry item-->
                                </div>
                                <!-- col-->
                                <div class="col-xs-12 col-sm-4">
                                    <article class="entry-item">
                                        <div class="entry-thumb"><img src="http://placehold.it/500x600" alt=""></div>
                                        <!-- entry thumb-->
                                        <div class="entry-content">
                                            <h4 class="entry-title">Aniemeke Hyacinth </h4>
                                            <h6 class="entry-sub-title">Project Director</h6>
                                            <p class="text--white">Mauris a massa id leo aliquam consequat por ttitoritae est. Proin ultricies velit sed porttitor ra.Pellentesque eget tristique est.</p>
                                            <div class="kopa__social style--01">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- kopa social-->
                                        </div>
                                        <!-- entry content-->
                                    </article>
                                    <!-- entry item-->
                                </div>
                                <!-- col-->
                                <div class="col-xs-12 col-sm-4">
                                    <article class="entry-item">
                                        <div class="entry-thumb"><img src="http://placehold.it/500x600" alt=""></div>
                                        <!-- entry thumb-->
                                        <div class="entry-content">
                                            <h4 class="entry-title">Ijeoma Amolu</h4>
                                            <h6 class="entry-sub-title">Finance Director</h6>
                                            <p class="text--white">Mauris a massa id leo aliquam consequat por ttitoritae est. Proin ultricies velit sed porttitor ra.Pellentesque eget tristique est.</p>
                                            <div class="kopa__social style--01">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- kopa social-->
                                        </div>
                                        <!-- entry content-->
                                    </article>
                                    <!-- entry item-->
                                </div>
                                <!-- col-->




                            </div>
                            <!-- row-->
                            <br />
                            <div class="row">
                                <div class="col-xs-12 col-sm-8" >

                                        <div class="entry-content text--white" >
                                            <h3 class="entry-title style--01">Copasoft Band</h3>
                                            <p class="text--01">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit nulla tempus mollis molestie. Fusce semper nisi sit amet ante  oie neque hendrerit. Mauris vehicula quam.</p>
                                            <p class="text--01">Ut vulputate dignissim tortor, eget porta elit. Sed molestie eu vitae consectetur. Donec ultrices dui a dolor gravida viverra. Fusce mau eros, mattis ut diam vel, commodo auctor urna.</p><a href="#" class="kopa__readMore style--02">More about us</a>
                                        </div>

        </div>
                                <!-- col-->


                                <div class="col-xs-12 col-sm-4">
                                    <article class="entry-item">
                                        <div class="entry-thumb"><img src="http://placehold.it/500x600" alt=""></div>
                                        <!-- entry thumb-->
                                        <div class="entry-content">
                                            <h4 class="entry-title">Sylvester Obriko </h4>
                                            <h6 class="entry-sub-title">MD/CEO</h6>
                                            <p class="text--white">Mauris a massa id leo aliquam consequat por ttitoritae est. Proin ultricies velit sed porttitor ra.Pellentesque eget tristique est.</p>
                                            <div class="kopa__social style--01">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- kopa social-->
                                        </div>
                                        <!-- entry content-->
                                    </article>
                                    <!-- entry item-->
                                </div>
                                <!-- col-->






                            </div>
                            <!-- row-->



                        </div>
                        <!-- widget content-->
                    </div>
                    <!-- kopa band-->
                </div>
                <!-- container-->
            </section>*@
    <!-- kopa area-->
    @*<section class="kopa__area kopa__area--07 kopa__parallax">
            <div class="container">
                <div class="widget kopa__album style--01">
                    <div class="widget-title style--02">
                        <h3 class="widget-title-primary">ALBUMS<strong>FOR SALE</strong></h3>
                    </div>
                    <!-- widget title-->
                    <div class="widget-content">
                        <div class="kopa__album__slider style--01 owl-wrapper owl__nav--first">
                            <div data-desk-top="3" data-tablet="3" data-small-tablet="2" data-phone="1" data-center="false" data-auto-play="false" data-animate="false" data-nav="true" class="owl-carousel">
                                <article class="entry-item">
                                    <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                                    <!-- entry thumb-->
                                    <div class="entry-content">
                                        <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                        <h6 class="entry-sub-title">copasoft</h6>
                                    </div>
                                    <!-- entry content-->
                                </article>
                                <!-- entry item-->
                                <article class="entry-item">
                                    <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                                    <!-- entry thumb-->
                                    <div class="entry-content">
                                        <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                        <h6 class="entry-sub-title">copasoft</h6>
                                    </div>
                                    <!-- entry content-->
                                </article>
                                <!-- entry item-->
                                <article class="entry-item">
                                    <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                                    <!-- entry thumb-->
                                    <div class="entry-content">
                                        <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                        <h6 class="entry-sub-title">copasoft</h6>
                                    </div>
                                    <!-- entry content-->
                                </article>
                                <!-- entry item-->
                                <article class="entry-item">
                                    <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                                    <!-- entry thumb-->
                                    <div class="entry-content">
                                        <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                        <h6 class="entry-sub-title">copasoft</h6>
                                    </div>
                                    <!-- entry content-->
                                </article>
                                <!-- entry item-->
                                <article class="entry-item">
                                    <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                                    <!-- entry thumb-->
                                    <div class="entry-content">
                                        <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                        <h6 class="entry-sub-title">copasoft</h6>
                                    </div>
                                    <!-- entry content-->
                                </article>
                                <!-- entry item-->
                                <article class="entry-item">
                                    <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                                    <!-- entry thumb-->
                                    <div class="entry-content">
                                        <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                        <h6 class="entry-sub-title">copasoft</h6>
                                    </div>
                                    <!-- entry content-->
                                </article>
                                <!-- entry item-->
                                <article class="entry-item">
                                    <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                                    <!-- entry thumb-->
                                    <div class="entry-content">
                                        <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                        <h6 class="entry-sub-title">copasoft</h6>
                                    </div>
                                    <!-- entry content-->
                                </article>
                                <!-- entry item-->
                                <article class="entry-item">
                                    <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                                    <!-- entry thumb-->
                                    <div class="entry-content">
                                        <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                        <h6 class="entry-sub-title">copasoft</h6>
                                    </div>
                                    <!-- entry content-->
                                </article>
                                <!-- entry item-->
                                <article class="entry-item">
                                    <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                                    <!-- entry thumb-->
                                    <div class="entry-content">
                                        <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                        <h6 class="entry-sub-title">copasoft</h6>
                                    </div>
                                    <!-- entry content-->
                                </article>
                                <!-- entry item-->
                            </div>
                            <!-- owl-carousel-->
                        </div>
                        <!-- kopa album slider-->
                    </div>
                    <!-- widget content-->
                </div>
                <!-- kopa album-->
            </div>
            <!-- container-->
        </section>*@
    <!-- kopa area-->
</section>
<!-- kopa__mainContent-->