@{
    ViewBag.Title = "Contact";
}

<section class="kopa__mainContent">
    <section class="kopa__area kopa__parallax kopa__area--17">
        <div class="kopa__topPage style--01">
            <div class="kopa__breadCrumb style--01">
                <h3 class="kopa__breadCrumb--title">contact us</h3><span><a href="#">Home</a></span><span>contact us</span>
            </div>
            <!-- kopa bread crumb-->
        </div>
        <!-- kopa top page-->
    </section>
    <!-- kopa area-->

    @Html.Partial("_Contact")
</section>
