
@{
    ViewBag.Title = "Events";
}

<section class="kopa__mainContent">
    <section class="kopa__area kopa__parallax kopa__area--17">
        <div class="kopa__topPage style--01">
            <div class="kopa__breadCrumb style--01">
                <h3 class="kopa__breadCrumb--title">about</h3><span><a href="#">Home</a></span><span>about</span>
            </div>
            <!-- kopa bread crumb-->
            @*<div class="kopa__topPage--bottom kopa__parallax">
                    <div class="col-xs-12 col-md-5">
                        <h3 class="kopa__topPage--bottom__title">
                            about<span>our band</span>
                        </h3>
                    </div>
                    <!-- col-->
                </div>*@
            <!-- kopa top page bottom-->
        </div>
        <!-- kopa top page-->
    </section>
    <!-- kopa area-->
    <section class="kopa__area kopa__area--22 kopa__area--noSpace">
        <div class="kopa__aboutSection style--01">
            <article class="entry-item ">
                <div class="col-xs-12 col-md-6 mask--01">
                    <div class="entry-thumb"><img src="http://placehold.it/960x607" alt=""></div>
                    <!-- entry thumb-->
                </div>
                <!-- col-->
                <div class="col-xs-12 col-md-6">
                    <div class="entry-content">
                        <h3 class="entry-title style--01">Copasoft Band</h3>
                        <p class="text--01">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit nulla tempus mollis molestie. Fusce semper nisi sit amet ante  oie neque hendrerit. Mauris vehicula quam.</p>
                        <p class="text--01">Ut vulputate dignissim tortor, eget porta elit. Sed molestie eu vitae consectetur. Donec ultrices dui a dolor gravida viverra. Fusce mau eros, mattis ut diam vel, commodo auctor urna.</p><a href="#" class="kopa__readMore style--02">More about us</a>
                    </div>
                    <!-- entry content-->
                </div>
                <!-- col-->
            </article>
            <!-- entry item-->
        </div>
        <!-- kopa about section-->
    </section>
    <!-- kopa area-->
    <section class="kopa__area kopa__area--19 kopa__parallax">
        <div class="container">
            <div class="widget kopa__band style--01">
                <div class="widget-title style--02">
                    <h3 class="widget-title-primary">Event<strong>Details</strong></h3>
                </div>

                <div style="background:#fff; padding:15px;">

                    <!-- widget title-->
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 ">

                                <div class="widget kopa__about style--01">
                                    <div class="widget-title style--01" style="text-align: left; ">
                                        @*<h3 class="widget-title-primary">Event Details</h3>*@

                                        <div class="kopa__tab style--01">
                                            <ul role="tablist" class="nav nav-tabs responsive">
                                                <li role="presentation" class="active"><a href="#kopa__tab--01" aria-controls="kopa__tab--01" role="tab" data-toggle="tab">Scope</a></li>
                                                <li role="presentation"><a href="#kopa__tab--02" aria-controls="kopa__tab--02" role="tab" data-toggle="tab">Competition category</a></li>
                                                <li role="presentation"><a href="#kopa__tab--03" aria-controls="kopa__tab--03" role="tab" data-toggle="tab">Participation Procedure</a></li>
                                                <li role="presentation"><a href="#kopa__tab--04" aria-controls="kopa__tab--04" role="tab" data-toggle="tab">Aims And Objectives</a></li>
                                                <li role="presentation"><a href="#kopa__tab--05" aria-controls="kopa__tab--05" role="tab" data-toggle="tab">Our Team</a></li>
                                                <li role="presentation"><a href="#kopa__tab--06" aria-controls="kopa__tab--06" role="tab" data-toggle="tab">Consultants</a></li>
                                            </ul>
                                            <!-- nav tabs-->

                                            <div class="tab-content responsive">
                                                <div id="kopa__tab--01" role="tabpanel" class="tab-pane fade in active">

                                                    <h4 class="text--01"><strong>Classicals features an audience of:</strong> </h4>

                                                    <ul class="style--01">
                                                        <li><i class="fa fa-check"></i>over 10 million followers </li>
                                                        <li><i class="fa fa-check"></i>With over 700 participants.</li>
                                                        <li><i class="fa fa-check"></i>40 tertiary institutions will compete for a whooping sum of N10 million and above.</li>
                                                        <li><i class="fa fa-check"></i>4 Cities; Zonal preliminaries will hold in Ibadan, Port Harcourt, and Abuja. The winners from each zone will qualify for the finals in Lagos.</li>
                                                        <li><i class="fa fa-check"></i>1 event</li>
                                                    </ul>


                                                </div>
                                                <!-- tab pane-->

                                                <div id="kopa__tab--02" role="tabpanel" class="tab-pane fade in">
                                                    <ul class="style--01">
                                                        <li><i class="fa fa-check"></i>Instrumental Music</li>
                                                        <li><i class="fa fa-check"></i>Operatic Music</li>
                                                        <li><i class="fa fa-check"></i>Choral Music</li>
                                                        <li><i class="fa fa-check"></i>Stage Band/Pop Nigerian music</li>
                                                    </ul>

                                                </div>
                                                <!-- tab pane-->

                                                <div id="kopa__tab--03" role="tabpanel" class="tab-pane fade in">
                                                    <ul class="style--01">
                                                        <li><i class="fa fa-check"></i>By invitation for now</li>
                                                        <li><i class="fa fa-check"></i>A team of 35 students from each institution</li>
                                                        <li><i class="fa fa-check"></i>Two accompanying lecturers that are not performers</li>
                                                        <li><i class="fa fa-check"></i>Schools to appear in their costumes/uniform</li>
                                                        <li><i class="fa fa-check"></i>Individual Instruments such as Violin, Flute, Trumpet, Saxophone, Trombone, Clarinet, etc to be provided by each participating school.</li>
                                                        <li><i class="fa fa-check"></i>Schools are responsible for their transportation to event venue.</li>

                                                    </ul>
                                                </div>
                                                <!-- tab pane-->

                                                <div id="kopa__tab--04" role="tabpanel" class="tab-pane fade in">
                                                    <ul class="style--01">
                                                        <li><i class="fa fa-check"></i>To encourage the growth of music- theory and practice through regular practical exercise in the nature of music festivals</li>
                                                        <li><i class="fa fa-check"></i>To impress in students the sense of meaning, worth and dignity of the discipline of music in all its forms</li>
                                                        <li><i class="fa fa-check"></i>To create a platform for participants to develop and gain fame in the industry</li>
                                                        <li><i class="fa fa-check"></i>To foster the growth of a more reflective generation of youth through the culture of classical music in practice and theory</li>
                                                        <li><i class="fa fa-check"></i>To help in nurturing the growth and appreciation of intellectual culture and academic excellence as quintessential elements in nation building and development</li>
                                                        <li><i class="fa fa-check"></i>To encourage music tourists to Nigeria</li>
                                                        <li><i class="fa fa-check"></i>Enhance the image of participating Universities</li>
                                                        <li><i class="fa fa-check"></i>Opportunity for participants to interface and peer review</li>
                                                    </ul>
                                                </div>
                                                <!-- tab pane-->

                                                <div id="kopa__tab--05" role="tabpanel" class="tab-pane fade in">
                                                    <ul class="style--01">
                                                        <li><i class="fa fa-check"></i><strong>Content Owner</strong> – Classical Showcase Ltd</li>
                                                        <li><i class="fa fa-check"></i><strong>Marketing</strong> – Zoya Media</li>
                                                        <li><i class="fa fa-check"></i><strong>Media/publicity</strong> – Zoya Media</li>
                                                    </ul>
                                                </div>
                                                <!-- tab pane-->

                                                <div id="kopa__tab--06" role="tabpanel" class="tab-pane fade in">
                                                    <ul class="style--01">
                                                        <li><i class="fa fa-check"></i><strong>Technical</strong> -  Prof. Anthony Mereni, (Music Major) Former Head of Creative</li>
                                                        <li><i class="fa fa-check"></i><strong>Arts and Music Unit</strong>, University of Lagos</li>
                                                        <li><i class="fa fa-check"></i><strong>Music Producer and mentoring</strong> - Engr. Benedict Ogbeiwi</li>
                                                    </ul>
                                                </div>
                                                <!-- tab pane-->



                                            </div>
                                            <!-- tab content-->
                                        </div>
                                        <!-- kopa tab-->

                                    </div>
                                    <!-- widget title-->

                                </div>
                                <!-- kopa about-->




                            </div>
                            <!-- col-->
                        </div>
                        <!-- row-->


                    </div>
                    <!-- widget content-->

                </div>





            </div>
            <!-- kopa band-->
        </div>
        <!-- container-->
    </section>
    <!-- kopa area-->
    <section class="kopa__area kopa__area--07 kopa__parallax">
        <div class="container">
            <div class="widget kopa__album style--01">
                <div class="widget-title style--02">
                    <h3 class="widget-title-primary">terms<strong>and condition</strong></h3>
                </div>
                <!-- widget title-->
                <div class="widget-content">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="kopa__blockQuote style--04">

                                @*<div >*@
                                <ul class="style--01">
                                    <li><i class="fa fa-check"></i>Every participant must be a student of the participating institution</li>
                                    <li><i class="fa fa-check"></i>Every participant must be duly cleared with his institution’s Identity Card</li>
                                    <li><i class="fa fa-check"></i>The organizers reserves the right to use still and motion images emanating from Pre-event, Event and Post event  activities for marketing/promotions, publicity and broadcast</li>
                                    <li><i class="fa fa-check"></i>By accepting to participate in this event, participants’ have freely given away a right of ownership of the Still and Moving pictures to the organizers</li>
                                    <li><i class="fa fa-check"></i>Event owner reserves the right to alter the price money at any time before the event</li>
                                    <li><i class="fa fa-check"></i>Price money may be given at a later date from the date of the final event</li>
                                    <li><i class="fa fa-check"></i>Event owner is the final decision maker of all aspect of the event provided its not in breech of any subsisting legal agreement</li>
                                </ul>

                            </div>
                            <!-- kopa block quote-->
                        </div>
                        <!-- col-->
                    </div>

                    @*<div class="style--01">
                            <h2 class="text-center">03 November 2019</h2>
                            <ul data-year="2019" data-month="11" data-day="3" data-time="00:00:00" class="kopa__countDown__wrap"></ul>
                        </div>*@


                    @*<div class="kopa__album__slider style--01 owl-wrapper owl__nav--first">
                        <div data-desk-top="3" data-tablet="3" data-small-tablet="2" data-phone="1" data-center="false" data-auto-play="false" data-animate="false" data-nav="true" class="owl-carousel">*@








                    @*<article class="entry-item">
                            <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                <h6 class="entry-sub-title">copasoft</h6>
                            </div>
                            <!-- entry content-->
                        </article>*@
                    <!-- entry item-->
                    @*<article class="entry-item">
                            <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                <h6 class="entry-sub-title">copasoft</h6>
                            </div>
                            <!-- entry content-->
                        </article>*@
                    <!-- entry item-->
                    @*<article class="entry-item">
                            <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                <h6 class="entry-sub-title">copasoft</h6>
                            </div>
                            <!-- entry content-->
                        </article>*@
                    <!-- entry item-->
                    @*<article class="entry-item">
                            <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                <h6 class="entry-sub-title">copasoft</h6>
                            </div>
                            <!-- entry content-->
                        </article>*@
                    <!-- entry item-->
                    @*<article class="entry-item">
                            <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                <h6 class="entry-sub-title">copasoft</h6>
                            </div>
                            <!-- entry content-->
                        </article>*@
                    <!-- entry item-->
                    @*<article class="entry-item">
                            <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                <h6 class="entry-sub-title">copasoft</h6>
                            </div>
                            <!-- entry content-->
                        </article>*@
                    <!-- entry item-->
                    @*<article class="entry-item">
                            <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                <h6 class="entry-sub-title">copasoft</h6>
                            </div>
                            <!-- entry content-->
                        </article>*@
                    <!-- entry item-->
                    @*<article class="entry-item">
                            <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                <h6 class="entry-sub-title">copasoft</h6>
                            </div>
                            <!-- entry content-->
                        </article>*@
                    <!-- entry item-->
                    @*<article class="entry-item">
                            <div class="entry-thumb"><a href="#"><img src="http://placehold.it/250x250" alt=""></a></div>
                            <!-- entry thumb-->
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="#">Nulla at egestas dolor</a></h4>
                                <h6 class="entry-sub-title">copasoft</h6>
                            </div>
                            <!-- entry content-->
                        </article>*@
                    <!-- entry item-->
                </div>
                <!-- owl-carousel-->
                @*</div>*@
                <!-- kopa album slider-->
                @*</div>*@
                <!-- widget content-->
            </div>
            <!-- kopa album-->
        </div>
        <!-- container-->
    </section>
    <!-- kopa area-->
</section>
<!-- kopa__mainContent-->
