@model List<CampusClassicals.Domain.Gallery>

@{
    ViewBag.Title = "Home";
}

@*@await Component.InvokeAsync("SampleSection")*@


<section class="kopa__mainContent">

    <!-- main slider -->
    @await Html.PartialAsync("_MainSlider")

    <!-- main slider 02 -->
    @await Html.PartialAsync("_Welcome")

    <!-- main slider 08 -->
    @await Html.PartialAsync("_Schools")

    <!-- main slider 04 -->
    @await Html.PartialAsync("_CountDown")

    <!-- main slider 05 -->
    @await Html.PartialAsync("_LatestNews")

    <!-- main slider 09 -->
    @await Component.InvokeAsync(nameof(GallerySection))

    <!-- main slider 12 -->
    @await Html.PartialAsync("_Samples")

    <!-- main slider 15 -->
    @await Html.PartialAsync("_Newsletter")

    <!-- main slider 16 -->
    @await Html.PartialAsync("_Contact")

</section>
<!-- kopa__mainContent-->
