@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/css/admin/datatable/dataTables.bootstrap.min.css" />

@section scripts{
    <script src="~/js/admin/datatable/jquery.dataTables.min.js"></script>
    <script src="~/js/admin/datatable/dataTables.bootstrap.min.js"></script>

    <script>
            $(document).ready(function () {

                $('#example1').DataTable()
                $('#example2').DataTable({
                    'paging': true,
                    'lengthChange': false,
                    'searching': false,
                    'ordering': true,
                    'info': true,
                    'autoWidth': false
                })
            });
    </script>

}

    <div>
    @RenderBody()
</div>
