
@{
    ViewBag.Title = "Participating Schools";
}

<section class="kopa__mainContent">
    <section class="kopa__area kopa__parallax kopa__area--17">
        <div class="kopa__topPage style--01">
            <div class="kopa__breadCrumb style--01">
                <h3 class="kopa__breadCrumb--title">Schools</h3><span><a href="#">School</a></span><span>all</span>
            </div>
        </div>
        <!-- kopa top page-->
    </section>
    <!-- kopa area-->

    <section class="kopa__area kopa__area--10 kopa__parallax" style="background:#fff">
        <div class="container">
            <div class="widget kopa__priceTable style--01">
                <div class="widget-title style--02">
                    <h3 class="widget-title-primary">participating<strong style="color:black">Schools</strong></h3>
                </div>

                <!-- widget title-->
                <div class="widget-content ">
                    <div class="kopa__gallery__content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/ABU.png" alt="" /></a>
                                </article>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/ALVAN-IKOKU.png" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/BABCOCK.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/BOWEN.png" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/DELSU.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/Federal-College-Of-Education-Oyo.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/FUNAI.png" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/IBADAN-POLY.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/MUSON.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->

                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/OAU.jpg" alt="" /></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/ODUMEGWU-OJUKWU-ANAMBRA.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/pan-african-university1.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->






                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNIABUJA.png" alt="" /></a>
                                </article>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNIBADAN.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNIBEN.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNICAL.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNIJOS.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNILAG.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNILORIN.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNIMAID.png" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNIPORT.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->

                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNIUYO.jpg" alt="" /></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNIZIK.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <article class="art">
                                    <a href="#"><img src="~/images/schools/UNN.jpg" alt=""></a>
                                </article>
                            </div>
                            <!-- col-->





                        </div>
                        <!-- row-->

                       



                    </div>
                    <!-- kopa gallery content-->


                </div>
                <!-- widget content-->


            </div>
            <!-- kopa gallery-->
        </div>
        <!-- container-->
    </section>
    <!-- kopa area-->
</section>